@font-face
{
    font-family: CrimsonText;
    src: url(fonts/CrimsonText/CrimsonText-Roman.ttf);
}

@font-face
{
    font-family: SourceSansPro;
    src: url(fonts/SourceSansPro/SourceSansPro-Regular.ttf);
}

html
{
    -webkit-font-smoothing: antialiased !important;
    overflow-y: scroll;
}

*
{
    margin: 0px;
    padding: 0px;
    border: 0px;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    word-wrap : break-word;
}

body
{
    background: #FFFFFF;
    font-family: 'SourceSansPro', sans-serif;
    background-color: whitesmoke;
}

a
{
    color: #058b7b;
    text-decoration : none;
}

a:hover
{
    text-decoration : underline;
}

li
{
    list-style-type: none;
}

#header
{
    z-index: 50;
    position: fixed;
    top : 0px;
    left : 0px;
    width: 100%;
    height: 70px;
    background: #058b7b;
    box-shadow: 0 4px 10px rgba(0,0,0,0.30);
}

#header a:hover
{
    text-decoration: none;
}

#header-title
{
    color: #FFFFFF;
    text-align: center;
    line-height: 40px;
    font-size: 40px;
    font-family: 'Cinzel', georgia, serif;
    margin: 15px;
    letter-spacing: 10px;
    color: #FFFFFF;
    font-weight: normal;
}

#header-title a
{
    color:white;
    text-decoration: none;
}

#menu-button, #about-button
{
    position: absolute;
    top: 0;
    margin: 10px 10px 11px 8px;
    padding: 10px 20px 11px 20px;
    font-size: 22px;
    color: rgba(255,255,255,0.75);
    font-weight: normal;
    cursor: pointer;
    border-radius: 10%;
}

#about-button
{
    right: 0;
}

#menu-button
{
    left: 0;
}

#about-button:hover, #menu-button:hover
{
    background-color: rgba(255, 255, 255, 0.1);
}

#menu-button:active, #about-button:active
{
    background-color: rgba(255, 255, 255, 0.2);
}

#menu-button:active
{
    background-color: rgba(255, 255, 255, 0.2);
}

#menu, #about
{
    z-index: 40;
    position: fixed;
    width:0;
    height:100%;
    top:70px;
    left:0;
    background: rgba(0, 0, 0, 0.6);
}

#menu.menu-open, #about.about-open
{
    width: 100%;
}

#about-content
{
    z-index: 60;
    position: relative;
    top: -600px;
    width: 600px;
    margin: 0 auto;
    background : white;
    border: 1px solid lightgray;
    box-shadow: 0 0 10px rgba(0,0,0,0.30);
    overflow: hidden;
    transition: top 0s;
}

#about.about-open #about-content
{
    top: 90px;
    transition: top 450ms;
}

#menu-content h2, #about-content h2
{
    border-bottom: 1px solid lightgray;
    font-size: 26px;
    font-family: 'Cinzel', georgia, serif;
    font-weight: normal;
    color:#058b7b;
    padding: 10px 20px;
}

#about-content p
{
    margin: 20px;
}

#about.about-open #about-content
{
    display:block;
}

#menu-content
{
    z-index: 60;
    position: fixed;
    top: 70px;
    left: -100%;
    height: 100%;
    background : white;
    border-right: 1px solid lightgray;
    box-shadow: 0 0 10px rgba(0,0,0,0.30);
    transition: left 3s;
}

#menu.menu-open #menu-content
{
    left: 0;
    transition: left 200ms;
}

#menu-content h2
{
    margin-bottom: 15px;
}

#menu-content li
{
    position: relative;
    padding: 10px 0;
    display: block;
    width: 200px;
    font-size: 15px;
    line-height: 15px;

}

#menu-content li:hover
{
    background: #f0f1f3;
    cursor: pointer;
}

#menu-content>li>a
{
    /*display:block;*/
    padding: 0 20px;
    color: #555;
    font-weight: bold;
}

#menu-content a:hover
{
    color:#058b7b;
    font-weight: bold;
}

.submenu
{
    display: none;
    /*position: absolute;*/
    position: relative;
    top: 10px;
    /*top: -80px;*/
    /*left: -20px;*/
    /*padding-top: 15px;*/
    background : #FFFFFF;
    /*border-right: 1px solid lightgray;*/
    /*box-shadow: 4px 4px 6px rgba(0,0,0,0.30);*/
}

#menu-content .submenu li:hover
{
   cursor:  default;
}

.submenu>li>a
{
    padding: 0 20px 0 35px;
    color: black;
}

/*.subMenu:before
{
    position: absolute;
    top: 88px;
    left: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 16px 9px 0;
    border-color: transparent #FFFFFF transparent transparent;
    content: " ";
}*/

li.menu-item-open .submenu
{
    display: block;
}

#page-title-box
{
    width: 950px;
    margin: 70px auto 35px auto;
    border-bottom: 1px solid #BBB;
    padding: 35px 0 0 0 ;
    text-align:center;
}

#page-title
{
    position:relative;
    display: inline;
    top: 20px;
    margin: 0;
    padding: 0 20px;
    font-size:30px;
    font-family: CrimsonText, georgia, serif;
    color: #777;
    background-color: whitesmoke;
    font-weight: normal;
}

#page-title a
{
    color:inherit;
    text-decoration: none;
}

#paper-box
{
    position: static;
    margin: 0 auto;
    letter-spacing: 0px;
    text-align: center;
    line-height:0px;
    vertical-align: top;
    width: 1012px;
}

#spinner
{
    margin-top: 100px;
    font-size: 50px;
    color: #777;
}

#column-left
{
    float: left;
    width: 506px;
}

#column-right
{
    float: right;
    width: 506px;
}

.paper
{
    display: inline-block;
    position: relative;
    //width: 490px;
    margin: 10px;
    border-color: lightgray;
    vertical-align: middle;
    padding: 20px;
    line-height: normal;
    letter-spacing: normal;
    background-color: white;
    box-shadow: 0 0px 10px rgba(0,0,0,0.15);
    text-align: left;
    border-radius: 3px;

}

//.paper:hover
//{
//    box-shadow: 0 0px 15px rgba(0,0,0,0.30);
//}

.paper-left
{
    float: left;
    width: 150px;
}

.paper-right
{
    float: right;
    padding-left: 30px;
    width: 296px;
}

.paper-image
{
    position: relative;
    height: 150px;
    border-radius: 50%;
    margin: 0 0 20px 0;
    background-color: aliceblue;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.paper-image:hover
{
    border-radius: 5px;
    cursor: pointer;
    transition: border-radius 400ms;
}

.paper-image:hover:after
{
    position: absolute;
    width: 100%;
    font-family: FontAwesome;
    font-size : 30px;
    line-height: 30px;
    text-align: center;
    padding: 65px 0;
    content: "\f065";
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.3);
}

.paper-hidden
{
    z-index: 30;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    transition: height 200ms;
    overflow: hidden;
}

.paper-hidden.paper-hidden-display
{
    height: 100%;
    transition: height 200ms;
}

.paper-hidden img
{
    height: auto;
    max-height: 90%;
    width: auto;
    max-width: 90%;
    border-top: 90px solid transparent;
    padding: 20px;
    background: #FFFFFF;
    background-clip: padding-box;
}


.paper-link
{
    font-family: 'Cinzel', georgia, serif;
    font-size: 19px;
    color: #555;
    text-align: center;
}

.paper-link a
{
    color: inherit;
}

.paper-link a:hover
{
    background-color: lightyellow;
    text-decoration: none;
}

.paper-title
{
    color: #058b7b;
    font-size: 20px;
    line-height: 110%;
    font-family: CrimsonText, georgia, serif;
    text-align: left;
    margin: 0 0 6px 0;
}

.paper-title a:hover
{
    text-decoration: none;
}

.paper-date
{
    font-size: 14px;
    font-family: 'Droid Serif', serif;
    color: #777;
    margin: 0 0 10px 0;
    font-style: italic;
}

.paper-content
{
    font-size: 15px;
    color: #333;
    text-align: justify;
    line-height: 120%;
    margin: 0 0 14px 0;
}

.paper-content:first-letter
{
    float:left;
    padding: 8px 4px 0 0;
    font-size: 40px;
    color: #555 ;
}

.paper-source
{
    font-size: 14px;
    color: #555;
    /*text-align: right;*/
}


.paper-source:before
{
    font-family: FontAwesome;
    content: "\f1d8";
    padding-right: 5px;
}

.clear
{
    clear: both;
}
