html
{
    -webkit-font-smoothing: antialiased !important;
    overflow-y: scroll; 
}

*
{
    margin: 0px;
    padding: 0px;
    border: 0px;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    word-wrap : break-word;  
}

body
{
    background: #FFFFFF;
    font-family: 'Droid Sans', sans-serif;
    background-color: whitesmoke;
}

a
{
    color: #058b7b;
    text-decoration : none;    
}

a:hover
{
    text-decoration : underline;   
}

li
{
    list-style-type: none;
}

#header
{
    z-index: 50;
    position: fixed;
    top : 0px;
    left : 0px;
    width: 100%;
    height: 70px;
    background: #058b7b;
    box-shadow: 0 4px 10px rgba(0,0,0,0.30);
}

#header a:hover
{
    text-decoration: none;
}

#header-title
{
    color: #FFFFFF;
    text-align: center;
    line-height: 40px;
    font-size: 40px;
    font-family: 'Cinzel', georgia, serif;
    margin: 15px;
    letter-spacing: 10px;
    color: #FFFFFF;
    font-weight: normal;
}

#header-title a
{
    color:white;
    text-decoration: none;
}

#menu
{
    z-index: 40;
    position: fixed;
    top: 0;
    left: 0;
}

#menu-button
{
    margin: 10px 10px 11px 8px;
    padding: 10px 20px 11px 20px;
    font-size: 22px;
    /*font-family: 'Codystar', cursive;*/
    color: rgba(255,255,255,0.75);
    font-family: 'Roboto Mono', cursive;
    /*border-right: 2px solid rgba(255,255,255,0.50);*/
    font-weight: normal;
    cursor: pointer;
    border-radius: 10%;
}

#menu-button:hover
{
    background-color: rgba(255, 255, 255, 0.1);
}

#menu-button:active
{
    background-color: rgba(255, 255, 255, 0.2);
}

/*#menu-button
{
    margin: 22px 18px 21px 22px;
    font-size: 26px;
    font-family: 'Codystar', cursive;
    color: #FFFFFF;
}*/

#menu-content
{
    z-index: 60;
    position: fixed;
    top: 70px;
    /*top: 0;*/
    left: -100%;
    height: 100%;
    background : white;
    border-right: 1px solid lightgray;
    -moz-box-shadow: 0px 0px 10px 0px gray;
    -webkit-box-shadow: 0px 0px 10px 0px gray;
    box-shadow: 0px 0px 10px 0px gray;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    opacity: 0;
    transition-delay: 500ms !important;
    transition: left 3s, opacity 1s;
}

#menu-content.menu-open, #menu-content:hover
/*, #menu:hover #menu-content*/
{
    left: 0;
    opacity: 1;
    transition-delay: 0s !important;
    transition: left 200ms, opacity 200ms;
}

#menu-content.menu-close
{
    left: -100%;
    opacity: 0;
    transition-delay: 0s !important;
    transition: left 3s, opacity 1s;
}

#menu-content h2
{
    /*padding: 20px 20px 19px 20px;*/
    padding: 10px 20px;
    border-bottom: 1px solid lightgray;
    font-size: 26px;
    margin-bottom: 15px;
    /*font-family: 'Codystar', cursive;*/
    font-family: 'Cinzel', georgia, serif;
    font-weight: normal;
    color:#058b7b;
}

#menu-content li
{
    position: relative;
    padding: 10px 20px;
    display: block;
    width: 200px;
     font-size: 14px;
    line-height: 14px;
    font-family: 'Droid Sans', sans-serif;
    
}

#menu-content li:last-child
{
    margin-bottom: 15px;
}

#menu-content li:hover
{
    background: #f0f1f3;
}

#menu-content a
{
    color: black;
}

#menu-content a:hover
{
    color:#058b7b;
    font-weight: bold;
}

.subMenu
{
    display: none;
    position: absolute;
    top: -80px;
    left: 95%;
    padding-top: 15px;
    background : #FFFFFF;
    border-right: 1px solid lightgray;
    box-shadow: 0px 0px 10px 0px gray;
}

.subMenu:before
{
    position: absolute;
    top: 88px;
    left: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 16px 9px 0;
    border-color: transparent #FFFFFF transparent transparent;
    content: " ";
}

#menu-content li:hover .subMenu
{
    display: block;
}

#paper-box
{
    position: static;
    margin: 70px auto 0 auto;
    padding: 20px 0 0 0 ;
    letter-spacing: 0px;
    text-align: center;
    line-height:0px;
    vertical-align: top;
    width: 1000px;
}

#spinner
{
    margin-top: 100px;
    font-size: 50px;
    color: #777;
}

#column-left
{
    float: left;
    width: 500px;
}

#column-right
{
    float: right;
    width: 500px;
}

.paper
{
    display: inline-block;
    position: relative;
    width: 490px;
    margin: 5px;
    border-color: lightgray;
    vertical-align: middle;
    padding: 20px;
    line-height: normal;
    letter-spacing: normal;
    background-color: white;
    box-shadow: 0 0px 10px rgba(0,0,0,0.15);
    text-align: left;
    
}

.paper:hover
{
    box-shadow: 0 3px 5px rgba(0,0,0,0.25);
}

.paper-left
{
    float: left;
    width: 150px;
}

.paper-image
{
    position: relative;
    height: 150px;
    border-radius: 50%;
    margin: 0 0 20px 0;
    background-color: aliceblue;
    background-size: cover; 
    background-position: 50% 50%; 
    background-repeat: no-repeat;
    overflow: hidden;
}

.paper-image:hover 
{
    border-radius: 5%;
    cursor: pointer;
    transition: border-radius 400ms; 
}

.paper-image:hover:after
{
    position: absolute;
    width: 100%;
    font-family: FontAwesome;
    font-size : 30px;
    line-height: 30px;
    text-align: center;
    padding: 65px 0;
    content: "\f065"; 
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.3);
}

.paper-hidden
{
    z-index: 30;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: height 200ms;
    overflow: hidden;
}

.paper-hidden.paper-hidden-display
{
    height: 100%;
    transition: height 400ms;
}

.paper-hidden img
{
    height: auto;
    max-height: 100%;
    width: auto;
    border-top: 90px solid transparent;
    padding: 20px;
    background: #FFFFFF;
    background-clip: padding-box;
}


.paper-link
{
    font-family: 'Cinzel', georgia, serif;
    font-size: 19px;
    color: #777;
    text-align: center;
}

.paper-link a
{
    color: inherit;
}

.paper-link a:hover
{
    background-color: lightyellow;
    text-decoration: none;
}

.paper-title
{
    color: #058b7b;
    font-size: 20px;
    line-height: 120%;
    font-family: 'Cinzel', georgia, serif;
    text-align: left;
    margin: 0 0 10px 170px;
}

.paper-title a:hover
{
    text-decoration: none;
}

.paper-date
{
    font-size: 14px;
    font-family: 'Droid Serif', serif;
    color: #777;
    margin: 0 0 10px 170px;
    font-style: italic;
}

.paper-content
{
    font-size: 14px;
    color: #555;
    text-align: justify;
    line-height: 130%;
    margin: 0 0 20px 170px;
}

.paper-content:first-letter
{
    float:left;
    padding: 8px 4px 0 0;
    font-size: 34px;
    color: #777 ;
}

.paper-source
{
    font-size: 13px;
    color: #777;
    text-align: right;
    margin: 0 0 10px 170px;
}


.paper-source:before
{
    font-family: FontAwesome;
    content: "\f1ea"; 
    padding-right: 5px;
}

.clear
{
    clear: both;
}

