*
{
    margin: 0px;
    padding: 0px;
    border: 0px;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    word-wrap : break-word;  
}

body
{
    background: #FFFFFF;
    font-family: 'Droid Sans', sans-serif;
}

a
{
    text-decoration : none;    
}

li
{
    list-style-type: none;
}

#header
{
    z-index: 50;
    position: fixed;
    top : 0px;
    left : 0px;
    width: 100%;
    height: 70px;
    background: #FFFFFF;
    -moz-box-shadow: 0px 0px 20px 0px gray;
    -webkit-box-shadow: 0px 0px 20px 0px gray;
    box-shadow: 0px 0px 20px 0px gray;
    border-bottom: 1px solid lightgray;
}

#header h1
{
    color: #058b7b;
    text-align: center;
    line-height: 40px;
    font-size: 40px;
    font-family: 'Cinzel', serif;
    margin: 15px;
    letter-spacing: 10px;
}

#header h1 a
{
    color: #058b7b;
}

#button
{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    margin: 22px 18px 21px 22px;
    font-size: 26px;
    font-family: 'Codystar', cursive;
}

#button:hover #menu
{
    display: block;
}

#menu
{
    display: none;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background : white;
    border-right: 1px solid lightgray;
    -moz-box-shadow: 0px 0px 10px 0px gray;
    -webkit-box-shadow: 0px 0px 10px 0px gray;
    box-shadow: 0px 0px 10px 0px gray;
    font-style: normal;
    font-weight: normal;
}

#menu h2
{
   padding: 20px 20px 19px 20px;
   border-bottom: 1px solid lightgray;
   font-size: 26px;
    margin-bottom: 15px;
    font-family: 'Codystar', cursive;
    font-weight: normal;
}

#menu li
{
    position: relative;
    padding: 10px 20px 10px 20px;
    display: block;
    width: 200px;
     font-size: 14px;
    line-height: 14px;
    font-family: 'Droid Sans', sans-serif;
    
}

#menu li:last-child
{
    margin-bottom: 15px;
}

#menu li:hover
{
    background: #f0f1f3;
}

#menu a
{
    color: black;
}

#menu a:hover
{
    color:#058b7b;
}

#menu li .subMenu
{
    display: none;
    position: absolute;
    top: -80px;
    left: 95%;
    padding-top: 15px;
    background : white;
    border-right: 1px solid lightgray;
    -moz-box-shadow: 0px 0px 10px 0px gray;
    -webkit-box-shadow: 0px 0px 10px 0px gray;
    box-shadow: 0px 0px 10px 0px gray;
}

#menu li:hover .subMenu
{
    display: block;
}

#button2
{
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    margin: 22px 22px 21px 18px;
    font-size: 26px;
    font-family: 'Codystar', cursive;
}

#button2:hover #about
{
    display: block;
}

#about
{
    display: none;
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background : white;
    border-left: 1px solid lightgray;
    -moz-box-shadow: 0px 0px 10px 0px gray;
    -webkit-box-shadow: 0px 0px 10px 0px gray;
    box-shadow: 0px 0px 10px 0px gray;
    font-style: normal;
    font-weight: normal;
}

#about h2
{
    text-align: right;
   padding: 20px 20px 19px 20px;
   border-bottom: 1px solid lightgray;
   font-size: 26px;
    margin-bottom: 15px;
    font-family: 'Codystar', cursive;
    font-weight: normal;
}

#about li
{
    position: relative;
    padding: 10px 20px 10px 20px;
    display: block;
    width: 200px;
     font-size: 14px;
    line-height: 14px;
    font-family: 'Droid Sans', sans-serif;
    text-align: justify;
}

#about li:last-child
{
    margin-bottom: 15px;
}

#body
{
    position: static;
    margin: 70px auto 0 auto;
    padding: 20px 0 0 0 ;
    letter-spacing: 0px;
    text-align: center;
    line-height:0px;
    vertical-align: top;
    /*background-color: whitesmoke;*/
}

.block
{
    display: inline-block;
    position: relative;
    /*float:left;*/
    width: 300px;
    height:300px;
    margin: 3px;
    padding: 3px;
    border-color: lightgray;
    vertical-align: middle;
    padding: 20px;
    line-height: normal;
    letter-spacing: normal;
    font-size: 24px;
    color: white;
    text-align: left;
    text-shadow: 1px 1px 5px black;
/*    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;*/
    /*background-size: cover;*/
    /*background-position:center;*/
    background-origin: content-box; 
    cursor: pointer
}

/*.block:first-child
{
    height: 606px;
    width: 606px;
}*/

.block:nth-child(6n-1)
{
    background: #EC5C86;
}

.block:nth-child(6n-2)
{
    background: #CC7238;
}
.block:nth-child(6n-3)
{
    background: #37CC78;
}
.block:nth-child(6n-4)
{
    background: #FE7963;
}

.block:nth-child(6n-5)
{
    background: #57ADDF;
}

.block:nth-child(6n)
{
    background: #FEB863;
}

.hiddenBlock
{
    z-index: 40;
    position: absolute;
    top:0;
    left: 0;
    height: 0;
    width: 300px;
    background-color: inherit;
    line-height: normal;
    letter-spacing: normal;
    font-size: 14px;
    color: white;
    text-align: left;
    text-shadow: none;
    overflow: hidden;
}

.block:hover .hiddenBlock
{
    height: 606px;
    -webkit-transition: 750ms;
    -moz-transition: 750ms;
    -ms-transition: 750ms;
    -o-transition: 750ms;
    transition: 750ms;
}

.hiddenBlock img
{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 10px auto;
}

.hiddenBlock h3
{
     margin: 10px 10px 10px 10px;
    font-size: 16px;
    font-weight: normal;
}

.hiddenBlock date
{
    margin: 0 10px 10px 10px;
    font-style: oblique;
    font-size: 11px;
}

.hiddenBlock aside
{
    margin: 0 10px 10px 10px;
    font-style: oblique;
    font-size: 11px;
}

.hiddenBlock article
{
    height: 100%;
    margin: 0 10px 10px 10px;
    text-align: justify;;
}

#footer
{
    clear:both;
    padding: 250px 0 0 0;
    width: 100%;
    height: 303px;
    background-image:linear-gradient(white, lightgray);
    text-align: center;
    color: #758C8C;
}
